*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
}
.nav{
    width: 100%;
    height: 80px;
    background-color: rgb(252, 242, 151);
}
.nav a{
    float: left;
    text-decoration: none;
    color: rgb(109, 178, 235);
    padding: 20px 80px;
    font-size: 24px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.nav a:hover{
    background-color: rgb(238, 207, 67);
}
